* {
    box-sizing: border-box;
}

body > h1 {
    text-align: center;
    margin: 30px 0px 55px 0px;
}

#box1 {
    float: left;
    border: 2px solid black;
    background-color: lightgray;
    position: relative;
    padding: 20px 18px 10px;
    text-align: justify;
    margin: 0px 25px 15px;
}

#box2 {
    float: left;
    border: 2px solid black;
    background-color: lightgray;
    position: relative;
    padding: 20px 18px 10px;
    text-align: justify;
    margin: 0px 25px 15px;
}

#box3 {
    float: left;
    border: 2px solid black;
    background-color: lightgray;
    position: relative;
    padding: 20px 18px 10px;
    text-align: justify;
    margin: 0px 25px 15px;
}

#chicken {
    background-color: #D59898;
    border: 1px solid black;
    width: 103px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    margin-top: 0px;
}
    
#beef {
    background-color: #C14543;
    color: white;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    text-align: center;
    margin-top: 0px;
}
#sushi {
    background-color: #E5D198;
    border: 1px solid black;
    top: 0px;
    right: 0px;
    position: absolute;
    width: 60px;
    text-align: center;
    margin-top: 0px;
}
@media (min-width: 992px) {
    #box1, #box2, #box3 {
        width: 28%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #box1, #box2 {
        width:43% ;
    }
    #box3 {
        width: 93.1%;
    }
}
@media (max-width: 767px) {
    #box1, #box2, #box3 {
        width: 90%;
        margin: ;
    }
}