body {
    background-color: maroon;
}
        /** navbar start**/
#header-nav {
    background-color: yellow;
    border-radius: 0;
    border: 0;
}
.navbar-brand {
    color: black;
    font-weight: 900;
    font-family: cursive;
}
#chicken {
    background-color: burlywood;
}
#beef {
    background-color: rgb(196, 13, 13);
}
#sushi {
    background-color: yellowgreen;
}
        /*navbar end*/

        /*body start*/
#ourmenu {
    font-family: cursive;
    color: yellow;
    padding: 20px 0px 45px;
}
#parachick {
    font-family: cursive;
    background-color: rgb(236, 236, 87);   
    margin-bottom: 0px;
}
#parachick2 {
    background-color: rgb(236, 236, 87);
}
        /* body end*/